[submodule "ui"]
	path = ui
	url = git@github.com:iamchristopher/ascension-ui.git
    branch = rebuild
[submodule "client"]
	path = client
	url = git@github.com:iamchristopher/ascension-client.git
	branch = dev
[submodule "server"]
	path = server
	url = git@github.com:iamchristopher/ascension-server.git
[submodule "api"]
	path = api
	url = git@github.com:iamchristopher/ascension-api.git
