[submodule "ui"]
	path = ui
	url = git@github.com:iamchristopher/ascension-ui.git
    branch = rebuild
[submodule "client"]
	path = client
	url = git@github.com:iamchristopher/ascension-client.git
	branch = dev
